html {
	background-color:#676767 ;
}

body {
	width: 1280px;
	margin: 1.5em auto;
	border-color: #cc9866;
	border-style: solid;
	border-width: 5px;
	padding: 50px;
	background-color: #060;
	background-color: #cccccc;
	background-image: url(bodyback.gif);
	font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
	font-style: normal;
	font-variant: normal;
}

table{
	margin-top:-20px;
	table-layout: fixed;
	text-align:center;
}

th{
	font-size: 24px;
	font-weight: 500;
	line-height: 26.4px;
	color: #cccccc;
	background-color: #343399;
	
}

#imglist{
	list-style-type:none;
	text-align:center;
	padding:10px;
}

#imglist li{
	display:inline;	
}

#nav {
	list-style-type:none;
	float:right;
	padding:10px;
}
#nav a{
	color: #cccccc;
	text-decoration:none;
	background-color:#8b6c5a;
	padding: 30px;
	margin-left:-4px;
}

#nav li {
	display:inline;	
}

#nav a:hover {
	color: #cccccc;
	text-decoration: underline;
	background-color:#343399;
	
}

h1 {
	text-align: center;
	background-color: #8b6c5a;
	color: #cccccc;
	font-size: 24px;
	font-weight: 500;
	line-height: 26.4px;
	margin-left:475px;
	margin-right:475px;
	padding: 10px;
}

h2 {
	font-size: 24px;
	font-weight: 500;
	line-height: 26.4px;
	color: #cccccc;
	background-color: #343399;
	margin-left:500px;
	margin-right:500px;
	margin-top:-1px;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 26.4px;
	color: #cccccc;
	background-color: #343399;
}

#mainimg {
	text-align: center;
}
#img{
	border-color: #676767;
	border-style: solid;
	border-width: 5px;
}

a {
	font-weight: bold;
	color: #343399;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #213A6B;
}